<div style="text-align: left; padding:20px 23px 20px 23px">
  <span
    style="
            font-family: 'Space Grotesk', 'Lucida Sans', Tahoma, sans-serif !important;
            text-align: justify;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 46px;
            color: #132a37;
            -webkit-text-size-adjust: none;
            display: block;
            text-align: center;
            margin: 25px;
          ">
  </span>
  <div style="margin-top: 25px;">
    <p>New Trailer Lead has been received.</p><br>
    <p>Applicant Name: <%= params[:firstname] %></p>
    <p>Applicant Last Name: <%= params[:lastname] %></p>
    <p>Applicant Email: <%= params[:applicant_email] %></p>
    <p>Event Date: <%= params[:date] %></p>
    <%#= link_to "View Trailer Request", admin_job_applicant_url(Trailer.find_by!(email: params[:email])) %>
  </div>
</div>