<%= turbo_stream.update "job-applicant-form-wrapper" do %>
  <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
    <h4 class="alert-heading">Thank You!</h4>
    <p>Your job application has been submitted successfully. We'll review your application and get back to you soon.</p>
  </div>
<% end %>
