<%= turbo_stream.update 'job-applicant-form-wrapper' do %>
  <%= turbo_frame_tag 'action_notice', class: 'text-center text-success' do %>
    <h5 class='text-success'> Response submitted successfully. </h5>
  <% end %>

  <div class="text-center">
    <h2>B's is hiring! Let's scoop some ice cream!</h2>
    <p>*****We are only hiring Cake and Pie Decorators at this time****</p>
    <p>
      B's is hiring! We would love to hire a few great people to join our team. 
      We're looking for new hires that can work the fall and winter. 
      We're open every day through the fall and then 5 days a week in the winter. 
    </p>
  </div>

  <%= turbo_frame_tag 'recaptcha-v2' %>

  <%= render 'form', job_applicant: @job_applicant %>
<% end %>