<%= turbo_stream.update "trailer-form" do %>
  <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
    <h4 class="alert-heading">Thank You!</h4>
    <p>Your inquiry was successfully submitted. We'll be in touch with you soon.</p>
  </div>
<% end %>
