aws:
  development:
    access_key_id:
    secret_access_key:
    s3_bucket:
    s3_region:
  production:
   access_key_id:
   secret_access_key:
   s3_bucket:
   s3_region:

mailchimp_api_key:
mailchimp_list_id:
google_map_api_key: