.faq_header-title{
  font-size: 24px;
  color: #777e91;
  margin-top: 30px;
  margin-bottom: 30px;
}
.faq__panel{
  padding: 7px 21px;
  margin-bottom: 24px;
  border: 1px solid #777e91;
  border-radius: 7px;
}
.faq__label{
  padding-block: 7px;
  color: #777e91;
  cursor: pointer;
}
.faq__panel-answer{
  color: #777e91;
  padding-top: 5px;
  padding-bottom: 7px;
}