        <div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
            <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(<%= image_path('triplescoop.jpg')%>)">
            </div>

            <div class="container pt100 pb70">
                <div class="row pb50">
                    <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                        <h3 class="h1 text-center font300  pt100 text-white">About - Us</h3>
                    </div>
                </div>
            </div>
        </div><!--parallax-->
        <!--/.page-title-->

        <div class="container pt90 pb60">
            <div class="row mb50">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <h2 class="mb30">We're B's <span class='text-primary'>Homemade</span> Ice Cream</h2>
                    <p class="lead">
                        We launched B's in 2018 in Marshfield MA, with the goal of providing the premiere home made ice cream on the south shore.  We are dedicated to providing superior service to provide our customers with a top rate experience.

                        We are dedicated entreneurs with a life long goal of opening an ice cream shop.  In 2017 we decided the time was now.  
                    </p>
                    <!-- <a class="btn btn-underline video-popup" href="https://www.youtube.com/watch?v=lt0hAoUES2s&t=6s">Watch Videos<i class='fa fa-play text-muted ml-2'></i></a> -->
                </div>  
            </div><!--row-->

        </div>

        <div class='container'>
            <div class='row'>
                <div class='col-md-12'>
                    <div class='feature-col mb90'>
                        <div class='row align-items-center'>
                            <div class='col-lg-6'>
                                <img src='<%= image_path('shop.jpg')%>' alt='' class='img-fluid'>
                            </div>
                            <div class='col-lg-5 ml-auto pt50-md'>
                                <h3 class="mb20">Location </h3>
                                <p class='lead mb20'>
                                    We are located on snow road in Marhsfield, MA in the Webster Square shopping center.  We found the location perfect for our homemade creations to treat yourself after visiting the many shops in the plaza.
                                </p>
                              <!--   <a href='#' class='btn btn-light btn-xl'>Buy Now $17 Only</a> -->
                            </div>
                        </div>
                    </div><!--feature col-->
                    <div class='feature-col mb90'>
                        <div class='row align-items-center'>

                            <div class='col-lg-5 mr-auto'>
                                <div class="tabs-default tabs-icon">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tabs-default mb30 justify-content-start" role="tablist">
                                        <li class="nav-item" role="presentation"><a class="active nav-link" href="#tb9" aria-controls="tb9" role="tab" data-toggle="tab">Made onsite</a></li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tb10" aria-controls="tb10" role="tab" data-toggle="tab">Ice Cream Cakes</a></li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tb11" aria-controls="tb11" role="tab" data-toggle="tab">Ice Cream Truck</a></li>                       
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content text-left mb40">
                                        <div role="tabpanel" class="tab-pane active show fade" id="tb9">
                                            <p>
                                                We serve 20 flavors of homemade ice cream daily with seasonal specials.  We provide a selection of dairy free and vegan options.  All your favorite daily treats are available 7 days a week at our scoop shop. 

                                            </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tb10">
                                            <p>
                                                We make to order ice cream cakes from our selection of home made flavors.  Great for your next birthday party or event.  Please call or email us to order.

                                            </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tb11">
                                            <p class='lead'>
                                                Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="mailto:bshomemade@gmail.com" class='btn btn-light btn-xl'>Hire Us for your next event</a>
                            </div>
                            <div class='col-lg-6 pt50-md'>
                                <img src='<%= image_path('cake.jpg')%>' alt='' class='img-fluid'>
                            </div>
                        </div>
                    </div><!--feature col-->
                </div>
            </div>
        </div>

        <div class='bg-dark pt90 pb90'>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-8 mr-auto ml-auto text-center'>
                        <h3 class='text-white h2'>
                            We're always looking for talent
                        </h3>
                        <p class='lead text-white text-muted'>
                            If you are interested in joining the team please contact us to learn about job opportunities. 
                        </p>
                        <a href="mailto:bshomemade@gmail.com"  class='btn btn-light btn-lg btn-rounded'>Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- company history -->
        <!-- <div class="container pt90 pb90">
            <div class="center-title mb70 text-center">
                <h4>Company History</h4>
            </div>
            <ul class="cbp_tmtimeline">
                <li>
                    <div class="cbp_tmtime"><span>4/04/12</span></div>
                    <div class="cbp_tmicon cbp_tmicon-phone"></div>
                    <div class="cbp_tmlabel">
                        <h2>Complete BCA from RU University</h2>
                        <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape radish bush tomato ricebean black-eyed pea maize eggplant. Cabbage lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato summer purslane salsify fennel horseradish dulse. Winter purslane garbanzo artichoke broccoli lentil corn okra silver beet celery quandong. Plantain salad beetroot bunya nuts black-eyed pea collard greens radish water spinach gourd chicory prairie turnip avocado sierra leone bologi.</p>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmtime"><span>04/01/14</span></div>
                    <div class="cbp_tmicon cbp_tmicon-screen"></div>
                    <div class="cbp_tmlabel">
                        <h2>Join Bootstrap for Designing</h2>
                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmtime"><span>4/01/15</span></div>
                    <div class="cbp_tmicon cbp_tmicon-mail"></div>
                    <div class="cbp_tmlabel">
                        <h2>Born Assan, A classic template</h2>
                        <p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard. Avocado tomato peanut soko amaranth grape fennel chickweed mung bean soybean endive squash beet greens carrot chicory green bean. Tigernut dandelion sea lettuce garlic daikon courgette celery maize parsley komatsuna black-eyed pea bell pepper aubergine cauliflower zucchini. Quandong pea chickweed tomatillo quandong cauliflower spinach water spinach.</p>
                        <a target="_blank" class="btn btn-primary" href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P/?ref=wb_rakesh">Get Assan</a>
                   
                    </div>
                </li>

                <li>
                    <div class="cbp_tmtime"><span>10/05/17</span></div>
                    <div class="cbp_tmicon cbp_tmicon-screen"></div>
                    <div class="cbp_tmlabel">
                        <h2>12.2K Happy customers world wide</h2>
                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
                    </div>
                </li>
                <li>
                    <div class="cbp_tmtime"><span>14/08/17</span></div>
                    <div class="cbp_tmicon cbp_tmicon-phone"></div>
                    <div class="cbp_tmlabel">
                        <h2>Cross $60,000 Earnings from Assan</h2>
                        <p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard. Avocado tomato peanut soko amaranth grape fennel chickweed mung bean soybean endive squash beet greens carrot chicory green bean. Tigernut dandelion sea lettuce garlic daikon courgette celery maize parsley komatsuna black-eyed pea bell pepper aubergine cauliflower zucchini. Quandong pea chickweed tomatillo quandong cauliflower spinach water spinach.</p>
                    <a target="_blank" class="btn btn-primary" href="https://wrapbootstrap.com/theme/assan-multipurpose-15-themes-admin-WB05F069P/?ref=wb_rakesh">Get Assan</a>
                    </div>
                </li>
            </ul>
        </div> -->