<!-- hero -->
<div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'>
    <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(<%= image_path('cones-smaller.jpg')%>)">
    </div>
    <div class="container pt100 pb70">
        <div class="row pb50">
            <div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
                <h3 class="h1 text-center font300  pt100 text-white">About - Us</h3>
            </div>
        </div>
    </div>
</div><!--parallax-->
<!--/.page-title-->

<!-- About us main-->
<div class="container pt90 pb60">
  <div class="row mb50">
    <div class="col-md-8 mr-auto ml-auto text-center">
      <h2 class="mb30">B's Ice Cream</h2>
      <p class="lead">
       Hi! We’re B’s Ice Cream, a family run business, based in Marshfield, MA. Our lifelong ambition was to own and operate a homemade ice cream shop. In 2018 after working in a corporate environment for many years we decided the time was now! We launched B's in 2019 with the goal of providing premium homemade ice cream to the south shore. We make our ice cream in-house with the freshest ingredients possible and hope you’ll enjoy traditional favorites along with our unique flavors.

      </p>
    </div>  
  </div><!--row-->
</div> <!-- about us main -->

<!-- about us container -->
<div class='container pt10 pb10'>
  <div class='row'>
      <!-- flavors box -->
      <div class="col-lg-6 mb50">
        <a class="shop-item-card" href="/#visit_us">
          <div class="card-image">
            <img src="<%= image_path('deck.jpg')%>" alt="" class="img-fluid"> 
              <h5>Location</h5>
              <h6>
              We’re located at 57 Snow Rd. Marshfield, MA in the Webster Square shopping center. Come visit us for some homemade dessert after visiting one of the many shops and restaurants in the area.
              </h6>
          </div>
        </a>
      </div> <!-- flavors box -->
      <!-- order online box -->
      <div class="col-lg-6 mb50">
        <a class="shop-item-card" href="">
          <div class="card-image">
            <img src="<%= image_path('bucket.png')%>" alt="" class="img-fluid">
            <h5>What we do</h5>
            <h6>
              We make all our ice cream in-house! We love classic flavors as well as unique flavors that you haven’t tried before. We have seasonal specials and limited flavors that rotate throughout the year. We strive to use the freshest ingredients such as fruit that’s local and in season. We’re always sourcing the best quality and best tasting ingredients for our ice cream. Sometimes the best tasting ingredients are Oreos, and sometimes it’s pure vanilla from Madagascar.
            </h6>   
          </div>
        </a>
      </div> <!-- end order online box -->
      <!-- flavors box -->
  </div>
</div> <!-- about us container -->

<div class='bg-dark pt90 pb90'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-8 mr-auto ml-auto text-center'>
                <h3 class='text-white h2'>
                    We're always looking for talent
                </h3>
                <p class='lead text-white text-muted'>
                    If you are interested in joining the team please contact us to learn about job opportunities. 
                </p>
                <a href="mailto:bshomemadeic@gmail.com"  class='btn btn-light btn-lg btn-rounded'>Contact Us</a>
            </div>
        </div>
    </div>
</div>
