<div class="bg-dark pt90 pb30">
</div>  

<div class='saas-app-hero bg-faded'>
  <div class='container pt30 pb10'>
    <div class='row align-items-center'>
      <div class='col-md-12'>
          <h1 class=' h1 mb20 text-center font500'>B's Ice Cream Cakes</h1>
        </div>
      </div>
    </div>
  </div>
</div> 


<div class="bg-faded pt90">
    <div class="container">
        <div class='feature-col saas-features pb90'>
            <div class='row align-items-center'>

                <div class='col-lg-5 mr-auto'>

                <h2 class="font350 h1">All cakes made to order</h2>
                <p class="lead">
                We are now providing ice cream cakes in 18" and 21" sizes  
                </p>
                <ul>
                 <li>We need 48 hours from the time of your order</li> 
                 <li>Flavor options will include what is in store at the time of order</li>
                 <li>18" Cake - $31.99</li>
                 <li>24" Cake - $38.99</li>
                </ul>    
                <p>Call us today to place your order
                    <span class="bg-faded"><a href="tel:+17819224062" class="btn btn-underline text-black">Phone: (781) 922-4062</a>
                    </span>
                </p>
                <p>Email Us 
                    <span class="bg-faded">
                    <a href="mailto:bshomemadeic@gmail.com" class="btn btn-underline text-black">
                        bshomemadeic@gmail.com
                    </a>
                    </span>
                </p>
   
                </div>
                <div class='col-lg-6 pt50-md'>
                    <img src='<%= image_path('cake.jpg')%>' alt='' class='img-fluid'>
                </div>
            </div>
        </div><!--feature col-->
    </div>
</div>