<div class="bg-dark pt90 pb30">
</div>   

<div class='saas-app-hero bg-faded'>
  <div class='container pt50 pb30'>
    <div class='row align-items-center'>
      <div class='col-md-12'>
          <h2 class=' h1 mb20 text-center font500'>
              Host your next event at B's Ice Cream
          </h2>
          <p class='h5 text-center mb40'>
              If you're having a party, whether it's a Birthday, Retirement, Anniversary, etc, come celebrate at B’s Ice Cream.
          </p>
      </div>
    </div>
  </div>
</div>


<!-- host your event section -->
<div class="bg-faded pt40">
    <div class="container">
        <div class='feature-col saas-features pb90'>
            <div class='row align-items-center'>

                <div class='col-lg-5 mr-auto'>

                <h2 class="font350 h1">Host Your Event</h2>
                <p class="lead">
                Host your event or fundraiser at B's Icecream   
                </p>
                <p class="lead">
                 <strong> Events:</strong>  
                </p>
                <p>
                 Staff appreciation, catch up with friends, kids sundae party, retirement, a place to bring clients
                </p>
                <p class="lead">
                <strong>Fundraiser:  </strong>
                </p>
                 <p>
                 Have a great cause that needs a boost or an organization that needs to raise funds for an upcoming event? You can raise funds with B’s Ice Cream. We’ll donate a portion of all sales to your organization, cause or school.
                </p>
                  
               <!--  <p>Call us today to book 
                    <span class="bg-faded"><a href="tel:+17819224062" class="btn btn-underline text-black">Phone: (781) 922-4062</a>
                    </span>
                </p>
                <p>Email Us 
                    <span class="bg-faded">
                    <a href="mailto:bshomemadeic@gmail.com" class="btn btn-underline text-black">
                        bshomemadeic@gmail.com
                    </a>
                    </span>
                </p>
                <p>*** Call today to reserve date and time ***
                </p> -->
   
                </div>
                <div class='col-lg-6 pt50-md'>
                    <img src='<%= image_path('privateevents.JPG')%>' alt='' class='img-fluid'>
                </div>
            </div>
        </div><!--feature col-->
    </div>
</div> <!-- end host your event section -->



<!-- bday party section -->
<div class="bg-white pt40">
    <div class="container">
        <div class='feature-col saas-features pb90'>
            <!-- row 1 -->
            <div class='row align-items-center'>
                <div class='col-lg-6 pt50-md'>
                  <img src='<%= image_path('bdayparty.jpeg')%>' alt='' class='img-fluid'>
                </div>                
                
                <!-- private kids party -->
                <div class="col-lg-5 ml-auto pt40 pb40">
                    <h2 class="font350 h3">Kid’s Ice Cream Party</h2>
                    <p class="lead">
                    Thursday thru Sunday 10:30am – 12pm<br>
                    Maximum of 15 children and 4 adult chaperones.
                    </p>
                    <ul>
                     <li>Each Child will receive a kid’s specialty sundae – Dirt Sundae or Unicorn Sundae (number of each needed 2 days prior to event)</li> 
                     <li>depending on age they can make their own sundaes (guest to decide)</li>
                     <li>Kids Music, napkins, utensils and paper plates provided</li>
                     <li>Drink for each child and 1 slice of pizza for each child</li>
                     <li>Dedicated party host</li>    
                     <li>We do all the set up and clean up</li> 
                     <li>Party Starts promptly at 10:30 am</li>
                    </ul> 
                    Children ages 1 and up are included in your total<br>
                    <strong>SORRY, NO OUTSIDE FOOD OR DRINK PRODUCTS ALLOWED</strong><br>
                    
                    </p>   
                </div> <!-- end private kids party -->

            </div>
            <!-- end row 1-->  
            <!-- row 2 -->
            <div class='row align-items-center'>  
                <!-- disclaimers -->
                
                <!-- Host your next party -->
                <div class='col-lg-6 pt50-md'>
                  <img src='<%= image_path('bdayparty2.jpeg')%>' alt='' class='img-fluid'>
                </div>   <!-- host next party end -->
                
                <!-- non private kids party -->
                <div class="col-lg-5 ml-auto pt40 pb40">
                    <h2 class="font350 h3">Ice Cream Social</h2>
                    <p class="lead">
                    Monday thru Friday 3pm – 7pm<br>
                    Maximum of 10 children and 2 adult chaperones.
                    </p>
                    <ul>
                     <li>Each Child will receive a kid’s specialty sundae – Dirt Sundae or Unicorn Sundae (number of each needed 2 days prior to event)</li> 
                     <li>depending on age they can make their own sundaes (guest to decide)</li>
                     <li>Reserved tables for the party guests.</li>
                    </ul> 
                    Children ages 1 and up are included in your total<br>
                    <strong>SORRY, NO OUTSIDE FOOD OR DRINK PRODUCTS ALLOWED</strong><br>   
                </div> <!-- end non private kids party -->
            </div>  <!-- end row 2 --> 

            <!-- button row -->
            <div class='row text-center'>  
              <div class='col-lg-12 pt50-md'>
                <!-- contact us -->
                <p class='h5 text-center mb10'>
                  * Deposit required to reserve date<br>
               <!--    * Prices are subject to change <br>  -->
                </p>
                <p class='h5 text-center mb10'>Contact us today to book</p> 

                <!-- end contact us -->
                <a class='btn btn-xl btn-secondary btn-rounded' href="tel:+17819224062">
                  Call (781) 922-4062
                </a>
                <a class='btn btn-xl btn-primary btn-rounded' href="mailto:bshomemadeic@gmail.com">
                  Email bshomemadeic@gmail.com
                </a>
              </div>    


           </div> <!-- end button row -->
        </div>       
    </div>
</div>

