<div class="bg-dark pt90 pb30">
</div>
<div class="page-title-light">
    <div class="container">
        <h2>Get in Style with B's Ice Cream Merch</h2>
    </div>
</div>

<div class="container pt90 pb50">
    <div class="row">
        <div class="col-lg-12 text-center ml-auto mr-auto mb40">
          <div id='product-component-9cac3b9e8db'></div>
        </div>
    </div>
</div>
<div class="bg-faded pt90 pb50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 ml-auto mb40">
                <div id='product-component-118797d391b'></div>
            </div>
        </div>
    </div>
</div>

<div class="container pt90 pb50">
    <div class="row">
        <div class="col-lg-12 text-center ml-auto mr-auto mb40">
          <div id='product-component-6600dbde866'></div>
        </div>
    </div>
</div>

<div class="bg-faded pt90 pb50">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 ml-auto mb40">
          <div id='product-component-d23ce345ba8'></div>
      </div>
    </div>
</div>

<div class="container pt90 pb50">
    <div class="row">
        <div class="col-lg-12 text-center ml-auto mr-auto mb40">
          <div id='product-component-263a4a7ebdc'></div>
        </div>
    </div>
</div>

<div class="bg-faded pt90 pb50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 ml-auto mb40">
                <div id='product-component-51238c9cbe0'></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'bs-homemade-ice-cream.myshopify.com',
          storefrontAccessToken: '8b10f80e2b9c9be7315b96f4797e42e9',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [1331948617775],
            node: document.getElementById('product-component-9cac3b9e8db'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
            "product": {
              "layout": "horizontal",
              "variantId": "all",
              "width": "100%",
              "contents": {
                "img": false,
                "imgWithCarousel": true,
                "variantTitle": false,
                "description": true,
                "buttonWithQuantity": false,
                "quantity": false
              },
              "styles": {
                "product": {
                  "text-align": "left",
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-left": "0",
                    "margin-bottom": "50px"
                  }
                },
                "title": {
                  "font-size": "26px"
                },
                "price": {
                  "font-size": "18px"
                },
                "compareAt": {
                  "font-size": "15px"
                }
              }
            },
            "cart": {
              "contents": {
                "button": true
              },
              "styles": {
                "footer": {
                  "background-color": "#ffffff"
                }
              }
            },
            "modalProduct": {
              "contents": {
                "img": false,
                "imgWithCarousel": true,
                "variantTitle": false,
                "buttonWithQuantity": true,
                "button": false,
                "quantity": false
              },
              "styles": {
                "product": {
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-left": "0px",
                    "margin-bottom": "0px"
                  }
                }
              }
            },
            "productSet": {
              "styles": {
                "products": {
                  "@media (min-width: 601px)": {
                    "margin-left": "-20px"
                  }
                }
              }
            }
          }
                    });
                  });
                }
              })();
              /*]]>*/
</script>

<script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'bs-homemade-ice-cream.myshopify.com',
          storefrontAccessToken: '8b10f80e2b9c9be7315b96f4797e42e9',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [1331970605103],
            node: document.getElementById('product-component-118797d391b'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
              "product": {
                "layout": "horizontal",
                "variantId": "all",
                "width": "100%",
                "contents": {
                  "img": false,
                  "imgWithCarousel": true,
                  "variantTitle": false,
                  "description": true,
                  "buttonWithQuantity": false,
                  "quantity": false
                },
                "styles": {
                  "product": {
                    "text-align": "left",
                    "@media (min-width: 601px)": {
                      "max-width": "100%",
                      "margin-left": "0",
                      "margin-bottom": "50px"
                    }
                  },
                  "title": {
                    "font-size": "26px"
                  },
                  "price": {
                    "font-size": "18px"
                  },
                  "compareAt": {
                    "font-size": "15px"
                  }
                }
              },
              "cart": {
                "contents": {
                  "button": true
                },
                "styles": {
                  "footer": {
                    "background-color": "#ffffff"
                  }
                }
              },
              "modalProduct": {
                "contents": {
                  "img": false,
                  "imgWithCarousel": true,
                  "variantTitle": false,
                  "buttonWithQuantity": true,
                  "button": false,
                  "quantity": false
                },
                "styles": {
                  "product": {
                    "@media (min-width: 601px)": {
                      "max-width": "100%",
                      "margin-left": "0px",
                      "margin-bottom": "0px"
                    }
                  }
                }
              },
              "productSet": {
                "styles": {
                  "products": {
                    "@media (min-width: 601px)": {
                      "margin-left": "-20px"
                    }
                  }
                }
              }
            }
          });
        });
      }
    })();
    /*]]>*/
</script>

<script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'bs-homemade-ice-cream.myshopify.com',
          storefrontAccessToken: '8b10f80e2b9c9be7315b96f4797e42e9',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [1331973455919],
            node: document.getElementById('product-component-d23ce345ba8'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
            "product": {
              "layout": "horizontal",
              "variantId": "all",
              "width": "100%",
              "contents": {
                "img": false,
                "imgWithCarousel": true,
                "variantTitle": false,
                "description": true,
                "buttonWithQuantity": false,
                "quantity": false
              },
              "styles": {
                "product": {
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-left": "0",
                    "margin-bottom": "50px"
                  }
                },
                "title": {
                  "font-size": "26px"
                },
                "price": {
                  "font-size": "18px"
                },
                "compareAt": {
                  "font-size": "15px"
                }
              }
            },
            "cart": {
              "contents": {
                "button": true
              },
              "styles": {
                "footer": {
                  "background-color": "#ffffff"
                }
              }
            },
            "modalProduct": {
              "contents": {
                "img": false,
                "imgWithCarousel": true,
                "variantTitle": false,
                "buttonWithQuantity": true,
                "button": false,
                "quantity": false
              },
              "styles": {
                "product": {
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-left": "0px",
                    "margin-bottom": "0px"
                  }
                }
              }
            },
            "productSet": {
              "styles": {
                "products": {
                  "@media (min-width: 601px)": {
                    "margin-left": "-20px"
                  }
                }
              }
            }
          }
          });
        });
      }
    })();
    /*]]>*/
</script>


<script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'bs-homemade-ice-cream.myshopify.com',
          storefrontAccessToken: '8b10f80e2b9c9be7315b96f4797e42e9',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [1331976503343],
            node: document.getElementById('product-component-263a4a7ebdc'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
              "product": {
                "layout": "horizontal",
                "variantId": "all",
                "width": "100%",
                "contents": {
                  "img": false,
                  "imgWithCarousel": true,
                  "variantTitle": false,
                  "description": true,
                  "buttonWithQuantity": false,
                  "quantity": false
                },
                "styles": {
                  "product": {
                    "@media (min-width: 601px)": {
                      "max-width": "100%",
                      "margin-left": "0",
                      "margin-bottom": "50px"
                    }
                  },
                  "title": {
                    "font-size": "26px"
                  },
                  "price": {
                    "font-size": "18px"
                  },
                  "compareAt": {
                    "font-size": "15px"
                  }
                }
              },
              "cart": {
                "contents": {
                  "button": true
                },
                "styles": {
                  "footer": {
                    "background-color": "#ffffff"
                  }
                }
              },
              "modalProduct": {
                "contents": {
                  "img": false,
                  "imgWithCarousel": true,
                  "variantTitle": false,
                  "buttonWithQuantity": true,
                  "button": false,
                  "quantity": false
                },
                "styles": {
                  "product": {
                    "@media (min-width: 601px)": {
                      "max-width": "100%",
                      "margin-left": "0px",
                      "margin-bottom": "0px"
                    }
                  }
                }
              },
              "productSet": {
                "styles": {
                  "products": {
                    "@media (min-width: 601px)": {
                      "margin-left": "-20px"
                    }
                  }
                }
              }
            }
          });
        });
      }
    })();
    /*]]>*/
</script>


<script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'bs-homemade-ice-cream.myshopify.com',
          storefrontAccessToken: '8b10f80e2b9c9be7315b96f4797e42e9',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [1331978534959],
            node: document.getElementById('product-component-51238c9cbe0'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
              "product": {
                "layout": "horizontal",
                "variantId": "all",
                "width": "100%",
                "contents": {
                  "img": false,
                  "imgWithCarousel": true,
                  "variantTitle": false,
                  "description": true,
                  "buttonWithQuantity": false,
                  "quantity": false
                },
                "styles": {
                  "product": {
                    "@media (min-width: 601px)": {
                      "max-width": "100%",
                      "margin-left": "0",
                      "margin-bottom": "50px"
                    }
                  },
                  "title": {
                    "font-size": "26px"
                  },
                  "price": {
                    "font-size": "18px"
                  },
                  "compareAt": {
                    "font-size": "15px"
                  }
                }
              },
              "cart": {
                "contents": {
                  "button": true
                },
                "styles": {
                  "footer": {
                    "background-color": "#ffffff"
                  }
                }
              },
              "modalProduct": {
                "contents": {
                  "img": false,
                  "imgWithCarousel": true,
                  "variantTitle": false,
                  "buttonWithQuantity": true,
                  "button": false,
                  "quantity": false
                },
                "styles": {
                  "product": {
                    "@media (min-width: 601px)": {
                      "max-width": "100%",
                      "margin-left": "0px",
                      "margin-bottom": "0px"
                    }
                  }
                }
              },
              "productSet": {
                "styles": {
                  "products": {
                    "@media (min-width: 601px)": {
                      "margin-left": "-20px"
                    }
                  }
                }
              }
            }
          });
        });
      }
    })();
    /*]]>*/
</script>


<script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'bs-homemade-ice-cream.myshopify.com',
          storefrontAccessToken: '8b10f80e2b9c9be7315b96f4797e42e9',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [1332026671151],
            node: document.getElementById('product-component-5d58e606317'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
              "product": {
                "layout": "horizontal",
                "variantId": "all",
                "width": "100%",
                "contents": {
                  "img": false,
                  "imgWithCarousel": true,
                  "variantTitle": false,
                  "description": true,
                  "buttonWithQuantity": false,
                  "quantity": false
                },
                "styles": {
                  "product": {
                    "@media (min-width: 601px)": {
                      "max-width": "100%",
                      "margin-left": "0",
                      "margin-bottom": "50px"
                    }
                  },
                  "title": {
                    "font-size": "26px"
                  },
                  "price": {
                    "font-size": "18px"
                  },
                  "compareAt": {
                    "font-size": "15px"
                  }
                }
              },
              "cart": {
                "contents": {
                  "button": true
                },
                "styles": {
                  "footer": {
                    "background-color": "#ffffff"
                  }
                }
              },
              "modalProduct": {
                "contents": {
                  "img": false,
                  "imgWithCarousel": true,
                  "variantTitle": false,
                  "buttonWithQuantity": true,
                  "button": false,
                  "quantity": false
                },
                "styles": {
                  "product": {
                    "@media (min-width: 601px)": {
                      "max-width": "100%",
                      "margin-left": "0px",
                      "margin-bottom": "0px"
                    }
                  }
                }
              },
              "productSet": {
                "styles": {
                  "products": {
                    "@media (min-width: 601px)": {
                      "margin-left": "-20px"
                    }
                  }
                }
              }
            }
          });
        });
      }
    })();
    /*]]>*/
</script>

    <script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'bs-homemade-ice-cream.myshopify.com',
          storefrontAccessToken: '8b10f80e2b9c9be7315b96f4797e42e9',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('product', {
            id: [1390615887919],
            node: document.getElementById('product-component-6600dbde866'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
  "product": {
    "layout": "horizontal",
    "variantId": "all",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "description": true,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-size": "26px"
      },
      "price": {
        "font-size": "18px"
      },
      "compareAt": {
        "font-size": "15px"
      }
    }
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "footer": {
        "background-color": "#ffffff"
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      }
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
          });
        });
      }
    })();
    /*]]>*/
    </script>