<body>
  <!--page title-->
<div class="dzsparallaxer auto-init height-is-based-on-content "  data-options='{   direction: "reverse"}'
data-responsive-reference-width="1280" 
data-responsive-optimal-height="500"
  >
	<div class="divimage dzsparallaxer--target" style="width: 100%; height: 100%; background-image: url(<%= image_path('order.jpg')%>)">
	</div>
			<div class="container pt100 pb70">
				<div class="row pb50">
		  		<div class="col-md-8 ml-auto mr-auto wow bounceIn" data-wow-delay=".2s">
		    		<h3 class="h1 text-center font500  pt100 text-black"></h3>
		     	</div>
		   	</div>
			</div>
	 	</div><!--parallax-->
	  <!--/.page-title-->

 
  <!-- Title Header -->
<div class="bg-light pt40 pb40">
	  <div class="col-md-8 mr-auto ml-auto text-center">
	  	<h3 class="mb0 h1">
	          Order Online
	    </h3>
	    <p>Pre-order for Same Day pickup at each of our locations</p>
	 	</div>
</div>	

        
 <!-- location panel -->
 <div class="row">
        <!-- Marshfield section -->
        <div class="col-md-4 mb40">
             <h3 class="mb40 h1">Marshfield</h3>
				<!-- Image              -->
      <div class="col-lg-10">
          <div class="card-image">
          	<a class="shop-item-card" href="https://bs-ice-cream.square.site">
            		<img src="<%= image_path('marshfield.jpg')%>" alt="" class="img-fluid">
        		</a>
          </div>
      </div> <!-- end order online box -->
      <!-- address -->
        <div class="media mb20">
            <span class="icon-round-40 mr-3 bg-light"><i class="fa fa-home"></i></span>
            <p class="media-body pt5 text-white">
              <a href="https://goo.gl/maps/QAZGAwyZVtMb2k1z8" target="_blank">
                57 Snow Road,
                Marshfield, MA
                02050
            </p>
          </a>
        <!-- phone -->
        </div>
            <div class="media mb20">
                <span class="icon-round-40 float-left mr-3 bg-light"><i class="fa fa-phone"></i></span>
                <p class="media-body pt5">
                    <a href="tel:+17819224062">Phone: (781) 922-4062</a></p>
            </div>
            <a class="btn btn-outline-secondary btn-xl btn-rounded" href="https://bs-ice-cream.square.site"> Order from Marshfield</a>
        </div>

        <!-- Kingston section -->
        <div class="col-md-4 mb40">
             <h3 class="mb40 h1">Kingston</h3>
				<!-- Image              -->
       <div class="col-lg-10">
          <div class="card-image">
          	<a class="shop-item-card" href="https://bs-ice-cream-kingston.square.site">
            		<img src="<%= image_path('kingston.jpg')%>" alt="" class="img-fluid">
        		</a>
          </div>
      </div> <!-- end order online box -->
            <div class="media mb20">
                <span class="icon-round-40 mr-3 bg-light"><i class="fa fa-home"></i></span>
                <p class="media-body pt5">
                  <a href="https://www.google.com/maps/place/B's+Ice+Cream/@42.0086064,-70.7321996,15z/data=!4m6!3m5!1s0x89e4a3c65d132a53:0x81c2608062cb9326!8m2!3d42.0086064!4d-70.7321996!16s%2Fg%2F11tw_2m6yg" target="_blank">
                    164 Summer St
                    Kingston, MA
                    02364
                </p>
              </a>
            </div>

            <div class="media mb20">
                <span class="icon-round-40 float-left mr-3 bg-light"><i class="fa fa-phone"></i></span>
                <p class="media-body pt5">
                    <a href="tel:+17813617084">Phone: (781) 361-7084</a></p>
            </div>
        <a class="btn btn-outline-secondary btn-xl btn-rounded" href="https://bs-ice-cream-kingston.square.site/"> Order from Kingston</a>
        </div>

            <!-- Plymouth section -->
        <div class="col-md-4 mb40">
             <h3 class="mb40 h1">Plymouth</h3>
                <!-- Image              -->
       <div class="col-lg-10">
          <div class="card-image">
            <a class="shop-item-card" href="https://bs-ice-cream-plymouth.square.site">
                    <img src="<%= image_path('plymouthorder.jpg')%>" alt="" class="img-fluid">
                </a>
          </div>
      </div> <!-- end order online box -->
            <div class="media mb20">
                <span class="icon-round-40 mr-3 bg-light"><i class="fa fa-home"></i></span>
                <p class="media-body pt5">
                  <a href="https://www.google.com/maps/place/B's+Ice+Cream/@41.9618571,-70.6692452,15z/data=!4m6!3m5!1s0x89e4bb4d47828b35:0x4629da531d02eb66!8m2!3d41.9618571!4d-70.6692452!16s%2Fg%2F11y1l3742q?entry=ttu" target="_blank">
                    170 Water St
                    Plymouth, MA
                    02360
                </p>
              </a>
            </div>

            <div class="media mb20">
                <span class="icon-round-40 float-left mr-3 bg-light"><i class="fa fa-phone"></i></span>
                <p class="media-body pt5">
                    <a href="tel:+15089271254">Phone: (508) 927-1254</a></p>
            </div>
        <a class="btn btn-outline-secondary btn-xl btn-rounded" href="https://bs-ice-cream-plymouth.square.site/"> Order from Plymouth</a>
        </div>
    </div>
</div>


</body>